<!DOCTYPE html>
<html lang="pl_PL">
<head>
    <meta charset="utf-8">
    <title>Sklep Internetowy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="author" content="WellCommerce; http://www.wellcommerce.pl"/>
    <meta name="description"
          content="To jest przykładowy sklep internetowy pokazujący możliwości WellCommerce - platformy do sprzedaży internetowej dla każdego"/>
    <meta name="keywords" content="sklep, wellcommerce, test, przykład"/>
    <meta name="revisit-after" content="1 Day"/>
    <meta http-equiv="content-language" content="pl_PL"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, follow">
    <link rel="shortcut icon" href="http://wellcommerce.tpl/design/_images_frontend/core/logos/favicon.ico"/>
    <link rel="stylesheet" href="{{ asset('themes/Gekosale/assets/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet/less" href="{{ asset('themes/Gekosale/assets/css/mixins.less') }}" type="text/css"/>
    <link rel="stylesheet/less" href="{{ asset('themes/Gekosale/assets/css/application.less') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('themes/Gekosale/assets/css/smoothness/jquery-ui-1.8.21.custom.css') }}"
          type="text/css"/>
    <link rel="stylesheet/less" href="{{ asset('themes/Gekosale/assets/css/scheme.less') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('themes/Gekosale/assets/css/style.css') }}" type="text/css"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="apple-touch-icon-precomposed"
          href="{{ asset('themes/Gekosale/assets/ico/apple-touch-icon-144-precomposed.png') }}" sizes="144x144">
    <link rel="apple-touch-icon-precomposed"
          href="{{ asset('themes/Gekosale/assets/ico/apple-touch-icon-114-precomposed.png') }}" sizes="114x114">
    <link rel="apple-touch-icon-precomposed"
          href="{{ asset('themes/Gekosale/assets/ico/apple-touch-icon-72-precomposed.png') }}" sizes="72x72">
    <link rel="apple-touch-icon-precomposed"
          href="{{ asset('themes/Gekosale/assets/ico/apple-touch-icon-57-precomposed.png') }}">
    <!--[if IE]>
    <link rel="stylesheet" href="{{ asset('themes/Gekosale/assets/css/ie.css') }}" type="text/css"/>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/less-1.3.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_libs/jquery-ui-1.8.14.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_libs/jquery.onkeyup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_libs/jquery.scrollTo.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_libs/base64.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_libs/xajax/xajax_core.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/jquery.jcarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/ui.spinner.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/jquery.raty.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/application.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/load-image.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/Gekosale/assets/js/bootstrap-image-gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_frontend/core/gekosale.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_frontend/core/init.js') }}"></script>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <script type="text/javascript">
        new GCore({
            iCookieLifetime: 30,
            sDesignPath: 'http://wellcommerce.tpl/design/',
            sAssetsPath: '{{ asset('themes/Gekosale/assets/') }}',
            sController: 'mainside',
            sCartRedirect: 'http://wellcommerce.tpl/0'
        });

        $(document).ready(function () {
            $('#product-search').submit(function () {
                return xajax_doSearchQuery($('#product-search-phrase').val());
            });

            $('#product-search-phrase').GSearch({
                'path': "http://wellcommerce.tpl/searchresults/",
                'phrase': $('#product-search-phrase').val()
            });

        });
    </script>

    <script type="text/javascript" charset="UTF-8">
        /* <![CDATA[ */
        try {
            if (undefined == xajax.config) xajax.config = {};
        } catch (e) {
            xajax = {};
            xajax.config = {};
        }
        ;
        xajax.config.requestURI = "http://wellcommerce.tpl/";
        xajax.config.statusMessages = true;
        xajax.config.waitCursor = true;
        xajax.config.version = "xajax 0.5 Beta 4";
        xajax.config.legacy = false;
        xajax.config.defaultMode = "asynchronous";
        xajax.config.defaultMethod = "POST";
        /* ]]> */
    </script>

    <script type='text/javascript' charset='UTF-8'>
        /* <![CDATA[ */
        xajax_changeLanguage = function () {
            return xajax.request({ xjxfun: 'changeAJAXLanguageAboutView' }, { parameters: arguments });
        };
        xajax_changeCurrency = function () {
            return xajax.request({ xjxfun: 'changeAJAXCurrencyView' }, { parameters: arguments });
        };
        xajax_updateCartPreview = function () {
            return xajax.request({ xjxfun: 'updateCartPreview' }, { parameters: arguments });
        };
        xajax_deleteProductFromCart = function () {
            return xajax.request({ xjxfun: 'deleteAJAXProductFromCart' }, { parameters: arguments });
        };
        xajax_deleteCombinationFromCart = function () {
            return xajax.request({ xjxfun: 'deleteAJAXsCombinationFromCart' }, { parameters: arguments });
        };
        xajax_addNewsletter = function () {
            return xajax.request({ xjxfun: 'addAJAXClientAboutNewsletter' }, { parameters: arguments });
        };
        xajax_doQuickLogin = function () {
            return xajax.request({ xjxfun: 'authProccessQuick' }, { parameters: arguments });
        };
        xajax_doQuickAddCart = function () {
            return xajax.request({ xjxfun: 'doQuickAddCart' }, { parameters: arguments });
        };
        xajax_doSearchQuery = function () {
            return xajax.request({ xjxfun: 'doSearchQuery' }, { parameters: arguments });
        };
        xajax_addProductToCart = function () {
            return xajax.request({ xjxfun: 'addAJAXProductToCart' }, { parameters: arguments });
        };
        xajax_addProductToWishList = function () {
            return xajax.request({ xjxfun: 'addAjaxProductToWishlist' }, { parameters: arguments });
        };
        xajax_deleteProductFromCompare = function () {
            return xajax.request({ xjxfun: 'ajaxDeleteProduct' }, { parameters: arguments });
        };
        xajax_deleteAllProductsFromCompare = function () {
            return xajax.request({ xjxfun: 'ajaxDeleteAllProducts' }, { parameters: arguments });
        };
        xajax_compareProducts = function () {
            return xajax.request({ xjxfun: 'ajaxCompareProducts' }, { parameters: arguments });
        };
        xajax_addProductToCompare = function () {
            return xajax.request({ xjxfun: 'ajaxAddProduct' }, { parameters: arguments });
        };
        xajax_setDispatchmethodCountry = function () {
            return xajax.request({ xjxfun: 'setDispatchmethodCountry' }, { parameters: arguments });
        };
        xajax_GetProductsForSchowcase_83 = function () {
            return xajax.request({ xjxfun: '_auto_callback_0' }, { parameters: arguments });
        };
        /* ]]> */
    </script>

</head>
<body>
<div id="fb-root"></div>
<div class="container">
<a id="btn_rightNewsletter" rel="#o_newsletter" href="http://wellcommerce.tpl/newsletter" title="Newsletter"><sub>Newsletter</sub></a>
<header class="header">
    <div class="row">
        <div class="span5">
            <h1><a href="http://wellcommerce.tpl/" title="Przykładowy sklep2">Przykładowy sklep2</a></h1>
        </div>
        <div class="span7">
            <div class="row pull-right">
                <div class="span2">
                    <form class="form-inline nomargin pull-right">
                        <fieldset>
                            <label class="control-label" for="waluta">Waluta:</label>
                            <select class="span1" id="waluta" onchange="xajax_changeCurrency(this.value);">
                                <option value="28" selected="selected">PLN</option>
                                <option value="200">EUR</option>
                            </select>
                        </fieldset>
                    </form>
                </div>
                <div class="span3 nomargin">
                    <ul class="nav nav-pills nomargin pull-right">
                        <li id="loginTop">
                            <a class="dropdown-toggle" href="http://wellcommerce.tpl/logowanie" title="">Logowanie <b
                                        class="caret"></b></a>

                            <div id="loginTopContent">
                                <h4 class="font">Rejestracja</h4>

                                <form action="" id="quickLogin" name="quickLogin">
                                    <div class="control-group error">
                                        <span class="error help-block" id="login-error"></span>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input01">E-mail</label>

                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-envelope"></i></span><input
                                                        type="text" class="input-large" id="quick-login"
                                                        name="quick-login">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input02">Hasło</label>

                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-lock"></i></span><input
                                                        type="password" class="input-large" id="quick-password"
                                                        name="quick-password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group nomargin">
                                        <input type="checkbox" class="input-large" id="quick-autologin"
                                               name="quick-autologin"/> <label class="control-label"
                                                                               for="quick-autologin"
                                                                               style="float:left; padding-right:10px;">Zapamiętaj
                                            mnie</label><br/>
                                        <a href="http://wellcommerce.tpl/zapomnianehaslo">Przypomnij hasło</a>
                                        <button type="submit" class="btn btn-primary pull-right">Zaloguj się</button>
                                    </div>
                                </form>
                                <script>
                                    $(document).ready(function () {
                                        $('#quickLogin').validate({
                                            errorElement: 'span',
                                            errorClass: 'error',
                                            wrapClass: 'help-block',
                                            rules: {
                                                "quick-login": {
                                                    "required": true,
                                                    "email": true
                                                },
                                                "quick-password": {
                                                    "required": true
                                                }
                                            },
                                            messages: {
                                                "quick-login": {
                                                    "required": "Nie podano adresu Email",
                                                    "email": "Błędny adres Email"
                                                },
                                                "quick-password": {
                                                    "required": "Nie podano hasła"
                                                }
                                            },
                                            highlight: function (label) {
                                                $(label).addClass('invalid').closest('.control-group').addClass('error');
                                            },
                                            success: function (label) {
                                                label.addClass('valid').closest('.control-group').addClass('success');
                                            },
                                            submitHandler: function (form) {
                                                xajax_doQuickLogin($('#quick-login').val(), $('#quick-password').val(), $('#quick-autologin').val());
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </li>
                        <li><a href="http://wellcommerce.tpl/rejestracja" title="">Rejestracja</a></li>
                    </ul>
                </div>
            </div>
            <div class="row pull-right">
                <div class="span3 contact nomargin"><a href="http://wellcommerce.tpl/kontakt"
                                                       title="Przykładowy sklep Sp. z o.o." class="email">kontakt@sklep.pl</a>
                </div>
                <div class="span2 phone nomargin">
                    <h3 class="font">22 1234567</h3>
                    <span>9:00 - 16:00</span></div>
                <div class="span3 nomargin pull-right">
                    <div id="topBasket">
                        <p>Ilość produktów: <span>0</span></p>

                        <p>Wartość: <span> 0.00 PLN</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="home active"><a href="http://wellcommerce.tpl/"><span class="ico">Strona główna</span></a>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown "><a href="http://wellcommerce.tpl/kategoria/zywnosc" class="dropdown-toggle">Produkty
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://wellcommerce.tpl/kategoria/zywnosc">Żywność</a></li>
                        <li><a href="http://wellcommerce.tpl/kategoria/kosmetyki">Kosmetyki</a></li>
                        <li><a href="http://wellcommerce.tpl/kategoria/artykuly-chemiczne">Artykuły chemiczne</a></li>
                        <li><a href="http://wellcommerce.tpl/kategoria/ksiazki-i-multimedia">Książki i multimedia</a>
                        </li>
                        <li><a href="http://wellcommerce.tpl/kategoria/obuwie">Obuwie</a></li>
                        <li><a href="http://wellcommerce.tpl/kategoria/bielizna">Bielizna</a></li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown "><a href="http://wellcommerce.tpl/promocje">Promocje</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown "><a href="http://wellcommerce.tpl/nowosci">Nowości</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="http://wellcommerce.tpl/informacja/21/o-firmie" class="dropdown-toggle">O firmie <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://wellcommerce.tpl/aktualnosci">Aktualności</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/23/punkty-stacjonarne">Punkty stacjonarne</a>
                        </li>
                        <li><a href="http://wellcommerce.tpl/producenci">Producenci</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/28/marki-wlasne">Marki własne</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/24/historia-firmy">Historia firmy</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/26/sprzedaz-hurtowa">Sprzedaż hurtowa</a></li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="http://wellcommerce.tpl/informacja/22/dla-kupujacego" class="dropdown-toggle">Dla
                        kupującego <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://wellcommerce.tpl/regulamin">Regulamin</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/30/zwroty-gwarancja">Zwroty, Gwarancja</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/32/dostawa">Dostawa</a></li>
                        <li><a href="http://wellcommerce.tpl/informacja/33/dostepnosc-towarow">Dostępność towarów</a>
                        </li>
                        <li><a href="http://wellcommerce.tpl/informacja/34/platnosci">Płatności</a></li>
                        <li><a href="http://wellcommerce.tpl/mapa-strony">Mapa serwisu</a></li>
                    </ul>
                </li>
            </ul>
            <form id="product-search" class="navbar-search form-search pull-right"
                  action="http://wellcommerce.tpl/wyszukiwarka" method="post">
                <div class="input-append">
                    <input id="product-search-phrase" type="text" class="search-query span2"
                           placeholder="Szukaj produktu...">
                    <button class="btn" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>
<ul class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <li class="active" typeof="v:Breadcrumb">Strona główna</li>
</ul>
<section id="content" class="content layout-boxes">

<div class="layout-column mainside" id="layout-column-0" style="width: 212px; margin-left: 0px;">
    <div class="layout-box layout-box-type-product-list layout-box-option-header-false layout-box-option-stretch-1"
         id="layout-box-119">
        <ul class="nav nav-pills nav-stacked cat-list">
            <li><a href="http://wellcommerce.tpl/kategoria/zywnosc" title="Żywność">Żywność</a></li>
            <li><a href="http://wellcommerce.tpl/kategoria/kosmetyki" title="Kosmetyki">Kosmetyki</a></li>
            <li><a href="http://wellcommerce.tpl/kategoria/artykuly-chemiczne" title="Artykuły chemiczne">Artykuły
                    chemiczne</a></li>
            <li><a href="http://wellcommerce.tpl/kategoria/ksiazki-i-multimedia" title="Książki i multimedia">Książki i
                    multimedia</a></li>
            <li><a href="http://wellcommerce.tpl/kategoria/obuwie" title="Obuwie">Obuwie</a></li>
            <li><a href="http://wellcommerce.tpl/kategoria/bielizna" title="Bielizna">Bielizna</a></li>
            <li class="all"><a href="http://wellcommerce.tpl/mapa-strony">Wszystkie kategorie</a></li>
        </ul>
    </div>
</div>
<div class="layout-column mainside" id="layout-column-1" style="width: 676px; margin-left: 20px;">
<div class="layout-box layout-box-type-showcase layout-box-option-header-false layout-box-option-stretch-1"
     id="layout-box-83">
<div id="homeSlideTab" class="tabbable tabs-below">
<div class="tab-content">
<div class="tab-pane fade active in" id="category-27">
<div id="myCarousel" class="carousel slide">
<div class="carousel-inner">
<div class="item active">
    <a href="http://wellcommerce.tpl/produkt/koszulka-body-perfect" title="Koszulka Body Perfect">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1041.jpg" alt="Koszulka Body Perfect"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/koszulka-body-perfect" title="Koszulka Body Perfect">
            <h2>Koszulka Body Perfect</h2>
        </a>

        <p class="price promo"> 78.00 PLN
            <small> 99.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(679);return false;"
           href="http://wellcommerce.tpl/produkt/koszulka-body-perfect"><i class="icon-shopping-cart icon-white"></i> Do
            koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/buty-etnies-jameson-2-eco" title="Buty Etnies Jameson 2 ECO">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1036.jpg" alt="Buty Etnies Jameson 2 ECO"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/buty-etnies-jameson-2-eco" title="Buty Etnies Jameson 2 ECO">
            <h2>Buty Etnies Jameson 2 ECO</h2>
        </a>

        <p class="price"> 78.00 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(677);return false;"
           href="http://wellcommerce.tpl/produkt/buty-etnies-jameson-2-eco"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/buty-etnies-sheckler-6-fusion" title="Buty Etnies Sheckler 6 Fusion">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1016.jpg" alt="Buty Etnies Sheckler 6 Fusion"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/buty-etnies-sheckler-6-fusion" title="Buty Etnies Sheckler 6 Fusion">
            <h2>Buty Etnies Sheckler 6 Fusion</h2>
        </a>

        <p class="price"> 244.77 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(672);return false;"
           href="http://wellcommerce.tpl/produkt/buty-etnies-sheckler-6-fusion"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/stringi-wyszczuplajace-elite-v" title="Stringi wyszczuplające ELITE V">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1052.jpg" alt="Stringi wyszczuplające ELITE V"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/stringi-wyszczuplajace-elite-v" title="Stringi wyszczuplające ELITE V">
            <h2>Stringi wyszczuplające ELITE V</h2>
        </a>

        <p class="price"> 52.00 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(684);return false;"
           href="http://wellcommerce.tpl/produkt/stringi-wyszczuplajace-elite-v"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta" title=".NET CLR. Księga eksperta">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1058.jpg" alt=".NET CLR. Księga eksperta"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta" title=".NET CLR. Księga eksperta">
            <h2>.NET CLR. Księga eksperta</h2>
        </a>

        <p class="price promo"> 100.00 PLN
            <small> 123.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(689);return false;"
           href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta"><i class="icon-shopping-cart icon-white"></i>
            Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/pas-do-ponczoch-ira" title="Pas do pończoch IRA">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1045.jpg" alt="Pas do pończoch IRA"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/pas-do-ponczoch-ira" title="Pas do pończoch IRA">
            <h2>Pas do pończoch IRA</h2>
        </a>

        <p class="price"> 56.00 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(680);return false;"
           href="http://wellcommerce.tpl/produkt/pas-do-ponczoch-ira"><i class="icon-shopping-cart icon-white"></i> Do
            koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/polgorset-wyszczuplajacy-laura" title="Półgorset wyszczuplający LAURA">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1048.jpg" alt="Półgorset wyszczuplający LAURA"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/polgorset-wyszczuplajacy-laura" title="Półgorset wyszczuplający LAURA">
            <h2>Półgorset wyszczuplający LAURA</h2>
        </a>

        <p class="price promo"> 42.00 PLN
            <small> 56.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(682);return false;"
           href="http://wellcommerce.tpl/produkt/polgorset-wyszczuplajacy-laura"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/bobovita-dwupak-zupa-rosol-z-kurczakiem-po-9-miesiacu"
       title="BoboVita Dwupak zupa - Rosół z kurczakiem po 9 miesiącu">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1061.jpg"
             alt="BoboVita Dwupak zupa - Rosół z kurczakiem po 9 miesiącu"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/bobovita-dwupak-zupa-rosol-z-kurczakiem-po-9-miesiacu"
           title="BoboVita Dwupak zupa - Rosół z kurczakiem po 9 miesiącu">
            <h2>BoboVita Dwupak zupa - Rosół z kurczakiem po 9 miesiącu</h2>
        </a>

        <p class="price promo"> 4.50 PLN
            <small> 5.60 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(690);return false;"
           href="http://wellcommerce.tpl/produkt/bobovita-dwupak-zupa-rosol-z-kurczakiem-po-9-miesiacu"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/bebiko-2r-po-6-miesiacu" title="Bebiko 2R po 6 miesiącu">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1063.jpg" alt="Bebiko 2R po 6 miesiącu"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/bebiko-2r-po-6-miesiacu" title="Bebiko 2R po 6 miesiącu">
            <h2>Bebiko 2R po 6 miesiącu</h2>
        </a>

        <p class="price promo"> 6.50 PLN
            <small> 7.50 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(692);return false;"
           href="http://wellcommerce.tpl/produkt/bebiko-2r-po-6-miesiacu"><i class="icon-shopping-cart icon-white"></i>
            Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/dermika-rosarium-new-garden-woda-toaletowa"
       title="Dermika Rosarium new garden woda toaletowa">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1076.jpg"
             alt="Dermika Rosarium new garden woda toaletowa"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/dermika-rosarium-new-garden-woda-toaletowa"
           title="Dermika Rosarium new garden woda toaletowa">
            <h2>Dermika Rosarium new garden woda toaletowa</h2>
        </a>

        <p class="price promo"> 78.00 PLN
            <small> 99.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(699);return false;"
           href="http://wellcommerce.tpl/produkt/dermika-rosarium-new-garden-woda-toaletowa"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/abc-fotografii-cyfrowej" title="ABC fotografii cyfrowej">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1055.jpg" alt="ABC fotografii cyfrowej"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/abc-fotografii-cyfrowej" title="ABC fotografii cyfrowej">
            <h2>ABC fotografii cyfrowej</h2>
        </a>

        <p class="price promo"> 33.00 PLN
            <small> 45.01 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(686);return false;"
           href="http://wellcommerce.tpl/produkt/abc-fotografii-cyfrowej"><i class="icon-shopping-cart icon-white"></i>
            Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/100-sposobow-na-linux-server-wskazowki-i-narzedzia-dotyczace-integracji-monitorowania-i-rozwiazywania-problemow"
       title="100 sposobów na Linux Server. Wskazówki i narzędzia dotyczące integracji, monitorowania i rozwiązywania problemów">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1056.jpg"
             alt="100 sposobów na Linux Server. Wskazówki i narzędzia dotyczące integracji, monitorowania i rozwiązywania problemów"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/100-sposobow-na-linux-server-wskazowki-i-narzedzia-dotyczace-integracji-monitorowania-i-rozwiazywania-problemow"
           title="100 sposobów na Linux Server. Wskazówki i narzędzia dotyczące integracji, monitorowania i rozwiązywania problemów">
            <h2>100 sposobów na Linux Server. Wskazówki i narzędzia dotyczące integracji, monitorowania i rozwiązywania
                problemów</h2>
        </a>

        <p class="price promo"> 89.00 PLN
            <small> 99.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(687);return false;"
           href="http://wellcommerce.tpl/produkt/100-sposobow-na-linux-server-wskazowki-i-narzedzia-dotyczace-integracji-monitorowania-i-rozwiazywania-problemow"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/ariel-color-style-proszek-do-kolorowych-tkanin"
       title="Ariel Color &amp; Style proszek do kolorowych tkanin">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1079.jpg"
             alt="Ariel Color &amp; Style proszek do kolorowych tkanin"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/ariel-color-style-proszek-do-kolorowych-tkanin"
           title="Ariel Color &amp; Style proszek do kolorowych tkanin">
            <h2>Ariel Color &amp; Style proszek do kolorowych tkanin</h2>
        </a>

        <p class="price promo"> 21.00 PLN
            <small> 25.01 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(697);return false;"
           href="http://wellcommerce.tpl/produkt/ariel-color-style-proszek-do-kolorowych-tkanin"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/actionscript-przewodnik-encyklopedyczny"
       title="ActionScript. Przewodnik encyklopedyczny">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1054.jpg"
             alt="ActionScript. Przewodnik encyklopedyczny"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/actionscript-przewodnik-encyklopedyczny"
           title="ActionScript. Przewodnik encyklopedyczny">
            <h2>ActionScript. Przewodnik encyklopedyczny</h2>
        </a>

        <p class="price promo"> 45.00 PLN
            <small> 56.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(685);return false;"
           href="http://wellcommerce.tpl/produkt/actionscript-przewodnik-encyklopedyczny"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/majtki-wyszczuplajace-elite-forte"
       title="Majtki wyszczuplające ELITE FORTE">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1049.jpg" alt="Majtki wyszczuplające ELITE FORTE"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/majtki-wyszczuplajace-elite-forte"
           title="Majtki wyszczuplające ELITE FORTE">
            <h2>Majtki wyszczuplające ELITE FORTE</h2>
        </a>

        <p class="price promo"> 50.00 PLN
            <small> 56.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(683);return false;"
           href="http://wellcommerce.tpl/produkt/majtki-wyszczuplajace-elite-forte"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/gosh-gosh-feeling-zestaw-zapachowy"
       title="Gosh Gosh Feeling zestaw zapachowy">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1078.jpg"
             alt="Gosh Gosh Feeling zestaw zapachowy"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/gosh-gosh-feeling-zestaw-zapachowy"
           title="Gosh Gosh Feeling zestaw zapachowy">
            <h2>Gosh Gosh Feeling zestaw zapachowy</h2>
        </a>

        <p class="price promo"> 170.00 PLN
            <small> 199.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(698);return false;"
           href="http://wellcommerce.tpl/produkt/gosh-gosh-feeling-zestaw-zapachowy"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/isis" title="ISIS">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1097.jpg" alt="ISIS"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/isis" title="ISIS">
            <h2>ISIS</h2>
        </a>

        <p class="price promo"> 45.00 PLN
            <small> 230.87 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(705);return false;"
           href="http://wellcommerce.tpl/produkt/isis"><i class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/bobovita-deser-banany-z-brzoskwinia-i-marchewka-po-4-miesiacu"
       title="BoboVita deser Banany z brzoskwinią i marchewką po 4 miesiącu">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1062.jpg"
             alt="BoboVita deser Banany z brzoskwinią i marchewką po 4 miesiącu"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/bobovita-deser-banany-z-brzoskwinia-i-marchewka-po-4-miesiacu"
           title="BoboVita deser Banany z brzoskwinią i marchewką po 4 miesiącu">
            <h2>BoboVita deser Banany z brzoskwinią i marchewką po 4 miesiącu</h2>
        </a>

        <p class="price promo"> 4.50 PLN
            <small> 6.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(691);return false;"
           href="http://wellcommerce.tpl/produkt/bobovita-deser-banany-z-brzoskwinia-i-marchewka-po-4-miesiacu"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/domestos-acti-blitz-original-koszyk"
       title="Domestos Acti - Blitz Original Koszyk">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1070.jpg"
             alt="Domestos Acti - Blitz Original Koszyk"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/domestos-acti-blitz-original-koszyk"
           title="Domestos Acti - Blitz Original Koszyk">
            <h2>Domestos Acti - Blitz Original Koszyk</h2>
        </a>

        <p class="price promo"> 14.00 PLN
            <small> 16.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(695);return false;"
           href="http://wellcommerce.tpl/produkt/domestos-acti-blitz-original-koszyk"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/bobovita-obiadek-makaron-z-kabaczkiem-kurczakiem-i-pomidorami-po-9-miesiacu"
       title="BoboVita obiadek Makaron z kabaczkiem, kurczakiem i pomidorami po 9 miesiącu">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1072.jpg"
             alt="BoboVita obiadek Makaron z kabaczkiem, kurczakiem i pomidorami po 9 miesiącu"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/bobovita-obiadek-makaron-z-kabaczkiem-kurczakiem-i-pomidorami-po-9-miesiacu"
           title="BoboVita obiadek Makaron z kabaczkiem, kurczakiem i pomidorami po 9 miesiącu">
            <h2>BoboVita obiadek Makaron z kabaczkiem, kurczakiem i pomidorami po 9 miesiącu</h2>
        </a>

        <p class="price"> 9.50 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(693);return false;"
           href="http://wellcommerce.tpl/produkt/bobovita-obiadek-makaron-z-kabaczkiem-kurczakiem-i-pomidorami-po-9-miesiacu"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/algida-cornetto-chocolate-vanilia"
       title="Algida Cornetto Chocolate Vanilia">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1069.jpg" alt="Algida Cornetto Chocolate Vanilia"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/algida-cornetto-chocolate-vanilia"
           title="Algida Cornetto Chocolate Vanilia">
            <h2>Algida Cornetto Chocolate Vanilia</h2>
        </a>

        <p class="price promo"> 4.50 PLN
            <small> 6.00 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(694);return false;"
           href="http://wellcommerce.tpl/produkt/algida-cornetto-chocolate-vanilia"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/majtki-wyszczuplajace-xen" title="Majtki wyszczuplające XEN">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1047.jpg" alt="Majtki wyszczuplające XEN"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/majtki-wyszczuplajace-xen" title="Majtki wyszczuplające XEN">
            <h2>Majtki wyszczuplające XEN</h2>
        </a>

        <p class="price"> 56.00 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(681);return false;"
           href="http://wellcommerce.tpl/produkt/majtki-wyszczuplajace-xen"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/elite-iv-silikon" title="ELITE IV Silikon">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1095.jpg" alt="ELITE IV Silikon"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/elite-iv-silikon" title="ELITE IV Silikon">
            <h2>ELITE IV Silikon</h2>
        </a>

        <p class="price promo"> 55.00 PLN
            <small> 65.01 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(703);return false;"
           href="http://wellcommerce.tpl/produkt/elite-iv-silikon"><i class="icon-shopping-cart icon-white"></i> Do
            koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/cif-brilliance-orchidea" title="Cif Brilliance Orchidea">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1080.jpg" alt="Cif Brilliance Orchidea"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/cif-brilliance-orchidea" title="Cif Brilliance Orchidea">
            <h2>Cif Brilliance Orchidea</h2>
        </a>

        <p class="price promo"> 11.40 PLN
            <small> 12.50 PLN</small>
        </p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(696);return false;"
           href="http://wellcommerce.tpl/produkt/cif-brilliance-orchidea"><i class="icon-shopping-cart icon-white"></i>
            Do koszyka</a>
    </div>
</div>
<div class="item ">
    <a href="http://wellcommerce.tpl/produkt/adidas-eau-de-toilette-pour-homme-team-force"
       title="Adidas eau de toilette pour homme Team Force">
        <img src="http://wellcommerce.tpl/design/_gallery/_300_300_3/1077.jpg"
             alt="Adidas eau de toilette pour homme Team Force"/>
    </a>

    <div class="carousel-caption">
        <a href="http://wellcommerce.tpl/produkt/adidas-eau-de-toilette-pour-homme-team-force"
           title="Adidas eau de toilette pour homme Team Force">
            <h2>Adidas eau de toilette pour homme Team Force</h2>
        </a>

        <p class="price"> 45.01 PLN</p>
        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(700);return false;"
           href="http://wellcommerce.tpl/produkt/adidas-eau-de-toilette-pour-homme-team-force"><i
                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
    </div>
</div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div>
</div>
</div>
<div class="tabs">
    <ul class="nav nav-tabs bottom-tabs">
        <li class="active"><a href="#" data-toggle="tab" data-id="0">Wszystkie</a><span class="ico"></span></li>
        <li><a href="#" data-toggle="tab" data-id="750">Żywność</a><span class="ico"></span></li>
        <li><a href="#" data-toggle="tab" data-id="751">Kosmetyki</a><span class="ico"></span></li>
        <li><a href="#" data-toggle="tab" data-id="752">Artykuły chemiczne</a><span class="ico"></span></li>
        <li><a href="#" data-toggle="tab" data-id="753">Książki i multimedia</a><span class="ico"></span></li>
        <li><a href="#" data-toggle="tab" data-id="754">Obuwie</a><span class="ico"></span></li>
        <li><a href="#" data-toggle="tab" data-id="755">Bielizna</a><span class="ico"></span></li>
    </ul>
</div>
</div>
</div>
</div>
<div class="layout-column mainside" id="layout-column-2" style="width: 908px; margin-left: 20px;">
    <div class="layout-box layout-box-type-product-list layout-box-option-header-true layout-box-option-stretch-1"
         id="layout-box-277">
        div class="head-block">
        <span class="font">Promocje</span>
        <a href="http://wellcommerce.tpl/promocje" class="pull-right">Zobacz więcej <i
                    class="icon-arrow-right-blue"></i></a>
    </div>

    <ul class="thumbnails col5 product-thumbnails">
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/koszulka-body-perfect" title="Koszulka Body Perfect">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1041.jpg" alt="Koszulka Body Perfect">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/koszulka-body-perfect" title="Koszulka Body Perfect">Koszulka
                            Body Perfect</a></h4>

                    <p class="price promo"> 78.00 PLN
                        <small> 99.00 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(679);return false;"
                           href="http://wellcommerce.tpl/produkt/koszulka-body-perfect"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/abc-fotografii-cyfrowej" title="ABC fotografii cyfrowej">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1055.jpg"
                         alt="ABC fotografii cyfrowej">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/abc-fotografii-cyfrowej"
                           title="ABC fotografii cyfrowej">ABC fotografii cyfrowej</a></h4>

                    <p class="price promo"> 33.00 PLN
                        <small> 45.01 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(686);return false;"
                           href="http://wellcommerce.tpl/produkt/abc-fotografii-cyfrowej"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/actionscript-przewodnik-encyklopedyczny"
                   title="ActionScript. Przewodnik encyklopedyczny">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1054.jpg"
                         alt="ActionScript. Przewodnik encyklopedyczny">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/actionscript-przewodnik-encyklopedyczny"
                           title="ActionScript. Przewodnik encyklopedyczny">ActionScript. Przewodnik encyklopedyczny</a>
                    </h4>

                    <p class="price promo"> 45.00 PLN
                        <small> 56.00 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(685);return false;"
                           href="http://wellcommerce.tpl/produkt/actionscript-przewodnik-encyklopedyczny"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta" title=".NET CLR. Księga eksperta">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1058.jpg"
                         alt=".NET CLR. Księga eksperta">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta"
                           title=".NET CLR. Księga eksperta">.NET CLR. Księga eksperta</a></h4>

                    <p class="price promo"> 100.00 PLN
                        <small> 123.00 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(689);return false;"
                           href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/elite-iv-silikon" title="ELITE IV Silikon">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1095.jpg" alt="ELITE IV Silikon">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/elite-iv-silikon" title="ELITE IV Silikon">ELITE IV
                            Silikon</a></h4>

                    <p class="price promo"> 55.00 PLN
                        <small> 65.01 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(703);return false;"
                           href="http://wellcommerce.tpl/produkt/elite-iv-silikon"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="layout-box layout-box-type-product-list layout-box-option-header-true" id="layout-box-36">
    <div class="head-block">
        <span class="font">Nowości</span>
        <a href="http://wellcommerce.tpl/nowosci" class="pull-right">Zobacz więcej <i class="icon-arrow-right-blue"></i></a>
    </div>

    <ul class="thumbnails col5 product-thumbnails">
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta" title=".NET CLR. Księga eksperta">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1058.jpg"
                         alt=".NET CLR. Księga eksperta">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta"
                           title=".NET CLR. Księga eksperta">.NET CLR. Księga eksperta</a></h4>

                    <p class="price promo"> 100.00 PLN
                        <small> 123.00 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(689);return false;"
                           href="http://wellcommerce.tpl/produkt/-net-clr-ksiega-eksperta"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/buty-etnies-jameson-2-eco" title="Buty Etnies Jameson 2 ECO">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1036.jpg"
                         alt="Buty Etnies Jameson 2 ECO">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/buty-etnies-jameson-2-eco"
                           title="Buty Etnies Jameson 2 ECO">Buty Etnies Jameson 2 ECO</a></h4>

                    <p class="price"> 78.00 PLN</p>

                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(677);return false;"
                           href="http://wellcommerce.tpl/produkt/buty-etnies-jameson-2-eco"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/isis" title="ISIS">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-free-delivery">Dostawa 0zł</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1097.jpg" alt="ISIS">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/isis" title="ISIS">ISIS</a></h4>

                    <p class="price promo"> 45.00 PLN
                        <small> 230.87 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(705);return false;"
                           href="http://wellcommerce.tpl/produkt/isis"><i class="icon-shopping-cart icon-white"></i> Do
                            koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/koszulka-body-perfect" title="Koszulka Body Perfect">
                    <div class="labels">
                        <span class="label label-promotion">Promocja</span>
                        <span class="label label-new">Nowość</span>
                        <span class="label label-featured">Polecany</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1041.jpg" alt="Koszulka Body Perfect">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/koszulka-body-perfect" title="Koszulka Body Perfect">Koszulka
                            Body Perfect</a></h4>

                    <p class="price promo"> 78.00 PLN
                        <small> 99.00 PLN</small>
                    </p>
                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(679);return false;"
                           href="http://wellcommerce.tpl/produkt/koszulka-body-perfect"><i
                                    class="icon-shopping-cart icon-white"></i> Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span1">
            <div class="thumbnail">
                <a href="http://wellcommerce.tpl/produkt/elite-ii" title="Elite II">
                    <div class="labels">
                        <span class="label label-new">Nowość</span>
                    </div>
            	<span class="photo">
            		<img src="http://wellcommerce.tpl/design/_gallery/_140_140_3/1096.jpg" alt="Elite II">
            	</span>
                </a>

                <div class="caption">
                    <h4><a href="http://wellcommerce.tpl/produkt/elite-ii" title="Elite II">Elite II</a></h4>

                    <p class="price"> 55.01 PLN</p>

                    <p class="action">
                        <a class="btn btn-primary" onclick="xajax_doQuickAddCart(704);return false;"
                           href="http://wellcommerce.tpl/produkt/elite-ii"><i class="icon-shopping-cart icon-white"></i>
                            Do koszyka</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
</section>

<script type="text/javascript">
    /* <![CDATA[ */
    GCore.OnLoad(function () {
        $('#content').GLayoutBoxes({
            aoColumns: [
                new GLayoutColumn({
                    iWidth: 212,
                    asBoxes: [
                        {
                            sName: '119',
                            bCollapsed: false,
                            iSpan: 1
                        }
                    ]
                }),
                new GLayoutColumn({
                    iWidth: 676,
                    asBoxes: [
                        {
                            sName: '83',
                            bCollapsed: false,
                            iSpan: 1
                        }
                    ]
                }),
                new GLayoutColumn({
                    iWidth: 908,
                    asBoxes: [
                        {
                            sName: '277',
                            bCollapsed: false,
                            iSpan: 1
                        },
                        {
                            sName: '36',
                            bCollapsed: false,
                            iSpan: 1
                        }
                    ]
                })
            ],
            sLayoutHash: '738ef7dcf924e48c8af02e3e37399264'
        });
    });
    /* ]]> */
</script>

</div>
<footer class="footer">
    <div class="container border">
        <div class="row">
            <div class="span5">
                <div class="newsletter">
                    <h3 class="font">Biuletyn okazji Przykładowy sklep2</h3>

                    <p>Otrzymuj na bieżąco informacje o promocjach, wyprzedażach, nowościach i ofertach specjalnych!</p>

                    <form class="form-inline" id="signup-newsletter" action="">
                        <div class="control-group">
                            <div class="input-prepend input-append">
                                <span class="add-on"><i class="icon-envelope"></i></span><input type="text"
                                                                                                class="span3"
                                                                                                placeholder="E-mail"
                                                                                                id="email-newsletter"
                                                                                                name="email-newsletter">
                                <button class="btn" type="submit">Zapisz się</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                <input type="checkbox" id="privacy-newsletter" name="privacy-newsletter" value="1">&nbsp;Akceptuję
                                <a href="http://wellcommerce.tpl/regulamin" target="_blank">warunki biuletynu</a>
                            </label>
                        </div>
                        <div class="control-group green">
                            <span class="green help-block" id="success"></span>
                        </div>
                        <div class="control-group error">
                            <span class="error help-block" id="error"></span>
                        </div>
                        <div class="control-group" id="errors"></div>
                    </form>
                </div>
                <script type="text/javascript">
                    GCore.OnLoad(function () {
                        $('#privacy-newsletter').click(function () {
                            $('#success').text('');
                            $('#error').text('');
                        });

                        $('#signup-newsletter').validate({
                            errorLabelContainer: $("#errors"),
                            errorElement: 'span',
                            errorClass: 'error',
                            wrapClass: 'help-block',
                            rules: {
                                "email-newsletter": {
                                    "required": true,
                                    "email": true
                                },
                                "privacy-newsletter": {
                                    "required": true
                                }
                            },
                            messages: {
                                "email-newsletter": {
                                    "required": "Nie podano adresu Email",
                                    "email": "Błędny adres Email"
                                },
                                "privacy-newsletter": {
                                    "required": "Aby korzystać z newslettera, zaakceptuj regulamin."
                                }
                            },
                            highlight: function (label) {
                                $('#errors').addClass('error');
                            },
                            submitHandler: function (form) {
                                $('#success').text('');
                                $('#error').text('');
                                xajax_addNewsletter($('#email-newsletter').val(), $('#privacy-newsletter').is(':checked'));
                            }

                        });
                    });
                </script>
            </div>
            <div class="span7">
                <div class="row-fluid">
                    <div class="span4">
                        <h3 class="font">O firmie</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="http://wellcommerce.tpl/aktualnosci">Aktualności</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/23/punkty-stacjonarne">Punkty
                                    stacjonarne</a></li>
                            <li><a href="http://wellcommerce.tpl/producenci">Producenci</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/28/marki-wlasne">Marki własne</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/24/historia-firmy">Historia firmy</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/26/sprzedaz-hurtowa">Sprzedaż hurtowa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h3 class="font">Dla kupującego</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="http://wellcommerce.tpl/regulamin">Regulamin</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/30/zwroty-gwarancja">Zwroty, Gwarancja</a>
                            </li>
                            <li><a href="http://wellcommerce.tpl/informacja/32/dostawa">Dostawa</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/33/dostepnosc-towarow">Dostępność
                                    towarów</a></li>
                            <li><a href="http://wellcommerce.tpl/informacja/34/platnosci">Płatności</a></li>
                            <li><a href="http://wellcommerce.tpl/mapa-strony">Mapa serwisu</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h3 class="font">Twoje konto</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="http://wellcommerce.tpl/logowanie">Logowanie do konta</a></li>
                            <li><a href="http://wellcommerce.tpl/rejestracja">Zarejestruj się</a></li>
                            <li><a href="http://wellcommerce.tpl/zamowienia">Status zamówienia</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="basketModal" class="modal fade hide"></div>
<div id="productModal" class="modal fade hide"></div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="modal-image"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Poprzednie zdjęcie</a>
        <a class="btn btn-primary modal-next">Następne zdjęcie <i class="icon-arrow-right icon-white"></i></a>
    </div>
</div>


</body>
</html>